@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('./background.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-content{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    height: 100vh;
    background-color: #d3d3d3;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.flex{
    display: flex;
}

header {
    padding: 40px 4%;
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header > .menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: #3d23c2;
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Sobre */

section.sobre{
    padding: 40px 4%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px 10px #ffffff49;
}

.sobre .about-description{
    color: #000000;
    max-width: 600px;
    align-self: center;
}

.about-description p{
    text-align: justify;
}


section.sobre .flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 90px;
}

.sobre h1{
    color: #000000;
    font-size: 38px;
    margin-bottom: 30px;
}

.sobre h1 span{
    color: #823db3;
}

.sobre .about-description p{
   text-align: justify;
   font-size: 20px;
}

/*Modalidades */

.titulo{
    color: black;
    font-size: 36px;
    margin-bottom: 60px;
    width: 100%; 
    text-align: center;
}

section.modalidades{
    padding: 80px 4%;
    text-align: center;
}

section.modalidades .flex{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}

.img-port{
    width: 300px;
    height: 440px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    margin-bottom: 20px;
    flex: 0 0 calc(33.33% - 20px);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Planos */
section.planos {
    padding: 80px 4%;
    text-align: center;
    margin-top: 50px;
}

section.planos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
}

section.planos .titulo {
    color: black;
    font-size: 36px;
    margin-bottom: 60px;
    width: 100%; 
    text-align: center;
}

.container .card {
    width: 300px;
    height: auto;
    margin: 0 20px 20px 20px;
    text-align: center;
    background: linear-gradient(135deg, #b57edc 0%, #d58cfc 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.container .card:hover {
    transform: scale(1.050);
}

.container .card .card-title {
    padding: 30px 20px;
    border-bottom: 2px solid rgb(107, 107, 107);
}

.container .card .card-title h2 {
    font-size: 35px;
    padding-bottom: 15px;
    color: #c5701b;
}

.container .card .card-title h3 {
    font-size: 35px;
    padding-bottom: 15px;
    color: #494949;
}

.container .card .card-title h4 {
    font-size: 35px;
    padding-bottom: 15px;
    color: #ffd700;
}

.container .card .card-title p span {
    font-size: 40px;
    padding: 0 5px;
    color: #000000;
}

.container .card .card-content ul {
    padding: 10px 30px;
    padding-bottom: 20px;
}

.container .card .card-content ul li {
    list-style: none;
    padding: 10px 0;
    font-size: 15px;
    color: #000000;
}

.container .card .card-content ul li i {
    margin-right: 4px;
}

.container .card .card-content button {
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .card .card-content button:hover {
    background: #20ee5e;
    letter-spacing: 1.2px;
}

.container .card .card-content button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}


/*fale conosco*/

.formulario-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin-top: 40px;
}

.formulario-container .container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
