@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 98.5vw;
    height: 100vh;
    font-size: 62.5%;
    color: rgb(249, 244, 244);
    font-family: 'Lato', sans-serif;
    
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(fundo.cadas.jpg);
    background-position: center center;
    background-size: 1600px 750px;
    background-position-y: 0%;
    background-repeat: no-repeat;
}

header {
    width: 50%;
    height: 12vh;
    background-color: rgba(233, 8, 8, 0.945);
}

h1 {
    text-align: center;
    font-size: 50px;
   
}

.Cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px
}

input {
    width: 500px;
    box-sizing: 100px;
    padding: 4px;
}

.btn-link {
    text-decoration: none;
    border: 1px solid #c7d9cc;
    text-align: center;
    padding: 1%;
    background-color: #c7d9cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
    box-shadow: 2px 2px 2px;
    margin: 20px;
}
