@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 98.5vw;
    height: 100vh;
    font-size: 62.5%;
    color: rgb(249, 244, 244);
    font-family: 'Lato', sans-serif;
    
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(fundo.planos.jpg);
    background-position: center center;
    background-size: 1600px 750px;
    background-position-y: 0%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
}

.h1t {
    text-align: center;
    font-size: 50px;
    color: white;
}

.btn-link {
    text-decoration: none;
    border: 1px solid  #c7d9cc;
    text-align: center;
    padding: 1%;
    background-color:  #c7d9cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
    box-shadow: 2px 2px 2px;
    margin: 20px;
}

.box{
    width: 300px;
    height: 450px;
    background: #a9a9ab;
    margin: 0 auto;
}

.caixa {
    display: flex;
    padding: 100px;
}

.boder-radius{
    border-radius: 50px;
    color: black;
}

.bronze {
    font-size: 19px;
    color: black;
    margin: 10px;
    padding: 10px;
    margin-left: 22px;
    margin-top: 25px;
}

hr {
    padding: 2px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(150, 5, 208), transparent);
    margin-top: 150px;
    margin-right: 20px;
}

.hr2 {
    padding: 2px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(150, 5, 208), transparent);
    margin-top: 110px;
    margin-right: 20px;
}

.hr3 {
    padding: 2px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(150, 5, 208), transparent);
    margin-top: 60px;
    margin-right: 20px;
}

.hr4 {
    padding: 2px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(150, 5, 208), transparent);
    margin-top: 25px;
    margin-right: 20px;
}

.mensais {
   margin-left: 115px; 
}

.preço {
    margin-top: 22px;
}

.prata {
    font-size: 19px;
    color: black;
    margin: 10px;
    padding: 10px;
    margin-left: 22px;
    margin-top: 20px;
}

.ouro {
    font-size: 19px;
    color: black;
    margin: 10px;
    padding: 10px;
    margin-left: 22px;
    margin-top: 20px;
}




